<header class="nav-bar">
    <div class="left">
      <h1>Martin Andrews Glass</h1>
      <img src="static/images/main_logo.png" alt="Martin Andrews Glass Logo" class="logo">
    </div>
    <nav class="right">
      <a href="/" class="active">Home</a>
      <a href="{{ url_for('about_me') }}">About Me</a>
      <a href="#">Store</a>
      <a href="{{ url_for('lessons') }}">Lessons</a>
      <a href="{{ url_for('contact') }}">Contact</a>
      <a href="{{ url_for('trade') }}">Trade</a>
      <a href="{{ url_for('gallery') }}">Gallery</a>
      
    </nav>
  </header>